<%= render "shared/header.html.erb", title: "level 4"%>

<header class="header">
	<h1 class="logo"><a href="/level0.html"><img src="images/logo.png" alt="HYUNDAI KEFICO" /></a></h1>
	<nav class="level">
		<ul>
      <li><a href="level0">Lv 0</a></li>
      <li><a href="level1">Lv 1</a></li>
			<li><a href="level2">Lv 2</a></li>
			<li><a href="level3">Lv 3</a></li>
			<li class="on"><a href="level4">Lv 4</a></li>
			<li><a href="level5">Lv 5</a></li>
		</ul>
	</nav>
</header>
<div class="content-group level-1">
	<header class="content-title">
		<h1><b>FIE</b> PACKAGE</h1>
		<small>Fuel Injection Equipment for GDI</small>
		<div class="btn-group">
			<a href="#none" class="bt-large reverse more">OVERVIEW</a>
			<a href="#none" class="bt-large reverse more">Package Benefit</a>
		</div>
	</header>
	<div class="content">

		<!-- START :: 제품 목록 -->
		<div class="item-list">
			<div class="swiper-container item-thumbs">
				<div class="swiper-wrapper">
					<section class="swiper-slide">
						<header>
							<h1>GDI injector</h1>
							<a href="/html/level-5.html" class="bt-base">제품 상세보기</a>
						</header>
						<div class="item-image"><img src="images/item-img3.png" alt="" /></div>
					</section>
					<section class="swiper-slide">
						<header>
							<h1>PUMP</h1>
							<a href="/html/level-5.html" class="bt-base">제품 상세보기</a>
						</header>
						<div class="item-image"><img src="images/item-img1.png" alt="" /></div>
					</section>
					<section class="swiper-slide">
						<header>
							<h1>Fuel Rail</h1>
							<a href="/html/level-5.html" class="bt-base">제품 상세보기</a>
						</header>
						<div class="item-image"><img src="images/item-img2.png" alt="" /></div>
					</section>
					<section class="swiper-slide">
						<header>
							<h1>HPS</h1>
							<a href="/html/level-5.html" class="bt-base">제품 상세보기</a>
						</header>
						<div class="item-image"><img src="images/item-img1.png" alt="" /></div>
					</section>
					<section class="swiper-slide">
						<header>
							<h1>Injector</h1>
							<a href="/html/level-5.html" class="bt-base">제품 상세보기</a>
						</header>
						<div class="item-image"><img src="images/item-img2.png" alt="" /></div>
					</section>
				</div>
				<div class="swiper-next"></div>
				<div class="swiper-prev"></div>
			</div>
			<div class="swiper-container item-name">
				<ul class="swiper-wrapper">
					<li class="swiper-slide">ECU</li>
					<li class="swiper-slide">PUMP</li>
					<li class="swiper-slide">Fuel Rail</li>
					<li class="swiper-slide">HPS</li>
					<li class="swiper-slide">Injector</li>
				</ul>
			</div>
		</div>
		<!-- //END :: 제품 목록 -->

		<!-- Package 특성 -->
		<div class="package-box package01">
			<h2 class="title">Package 특성</h2>
			<div class="cont">
				<!-- 통이미지 사용시 dl 삭제 -->
				<div class="item-image"><img src="images/item-img2.png" alt="" /></div>
				<dl>
					<dt>Emission</dt>
					<dd>Compatible up to Euro7</dd>
					<dt>Reliable quality</dt>
					<dd>Minimizing errors</dd>
					<dt>Performance</dt>
					<dd>Fast response & optimization</dd>
				</dl>
			</div>
		</div>
		<!-- Package 소개 -->
		<div class="package-box package02">
			<div class="package-inner">
				<small class="title-sub">Fuel Injection Equipment</small>
				<h2 class="title">Package 소개</h2>
				<div class="cont">
					350Bar 고압인젝터, 고압펌프, 고압센서, 연료레일로 구성되는 FIE package는
					국6b, Euro6d, Sulev 70 법규 및 운전자의 요구 성능(연비 및 운전성)을
					만족하기 위하여 운전자의 요구에 맞추어 시동/주행/정차 등 모든 운전에서
					최고의 성능을 구현할 수 있도록 최적화된 연료 제어를 실시한다.
				</div>
			</div>
		</div>
		<!-- Package 구성 -->
		<div class="package-box package03">
			<h2 class="title">Package 구성</h2>
			<div class="item-image"><img src="images/content01-1.png" alt="" /></div>
		</div>
		<!-- 특장점 -->
		<div class="package-box package04">
			<h2 class="title">특장점 <small>(법규, 성능)</small></h2>
			<div class="item-image"><img src="images/content01-2.png" alt="" /></div>
		</div>
		<!-- 제어 상세 -->
		<div class="package-box package05">
			<h2 class="title">제어 상세 <small>(중점 제어)</small></h2>
			<div class="item-image"><img src="images/content01-3.png" alt="" /></div>
			<div class="item-image"><img src="images/content01-4.png" alt="" /></div>
		</div>
	</div>
</div>

<script>
	var itemName = new Swiper('.item-name', {
		spaceBetween:0,
		slidesPerView:5,
		//loop: true,
		watchSlidesVisibility: true,
		watchSlidesProgress: true,
	});
	var itemThumbs = new Swiper('.item-thumbs', {
		effect: 'fade',
		fadeEffect: {
    	crossFade: true
  	},
		//loop: true,
		freeMode: true,
		spaceBetween:0,
		navigation: {
			nextEl: '.swiper-next',
			prevEl: '.swiper-prev',
		},
		thumbs: {
			swiper: itemName
		}
  });
</script>
