<%= render "shared/header.html.erb", title: "level 1"%>

<header class="header">
	<h1 class="logo"><a href="/level0.html"><img src="images/logo.png" alt="HYUNDAI KEFICO" /></a></h1>
	<nav class="level">
		<ul>
      <li><a href="level0">Lv 0</a></li>
			<li class="on"><a href="level1">Lv 1</a></li>
			<li><a href="level2">Lv 2</a></li>
			<li><a href="level3">Lv 3</a></li>
			<li><a href="level4">Lv 4</a></li>
			<li><a href="level5">Lv 5</a></li>
		</ul>
	</nav>
</header>
<div class="content-group level-4">
	<header class="content-title">
		<h1>4WEELS Car</h1>
		<small>FOR THE BETTER AUTOMOBILE LIFE</small>
	</header>
	<div class="content">

    <figure class="visual-top">
      <img src="images/car-img.png" alt="" />
      <figcaption>
        운전자의 성향부터 시시각각 변하는 도로와 교통 상황까지<br />
        다양한 변화를 빠르게 인지하고 제어하는 우리는<br /><br />
        그것이 자동차 전자 제어 시스템의 핵심 역할이라고 말합니다.
      </figcaption>
    </figure>

    <ul class="card-image">
      <li>
        <div class="inner">
          <h4>내연 기관</h4>
          <a href="/html/level-2.html" class="bt-small reverse more">OVERVIEW</a>
        </div>
        <img src="images/car-img1.png" alt="" class="card-bg" />
      </li>
      <li>
        <div class="inner">
          <h4>친환경</h4>
          <a href="/html/level-2.html" class="bt-small reverse more">OVERVIEW</a>
        </div>
        <img src="images/car-img2.png" alt="" class="card-bg" />
      </li>
      <li>
        <div class="inner">
          <h4>자동 변속기</h4>
          <a href="/html/level-2.html" class="bt-small reverse more">OVERVIEW</a>
        </div>
        <img src="images/car-img3.png" alt="" class="card-bg" />
      </li>
    </ul>

	</div>
</div>
