<div class= nav_bar>
  <img src="images/common/logo.png" class="navbar_logo_image"> </img>
  <div class="levels_wrapper">
    <ul class="levels">
      <li class=level>Lv1</li>
      <li class=level>Lv2</li>
      <li class=level>Lv3</li>
      <li class=level>Lv4</li>
      <li class=level>Lv5</li>
    </ul>
  </div>
</div>
