<%= render "shared/header.html.erb", title: "level 5"%>

<header class="header">
	<h1 class="logo"><a href="/level0.html"><img src="images/logo.png" alt="HYUNDAI KEFICO" /></a></h1>
	<nav class="level">
		<ul>
      <li><a href="level0">Lv 0</a></li>
      <li><a href="level1">Lv 1</a></li>
			<li><a href="level2">Lv 2</a></li>
			<li><a href="level3">Lv 3</a></li>
			<li><a href="level4">Lv 4</a></li>
			<li class="on"><a href="level5">Lv 5</a></li>
		</ul>
	</nav>
</header>
<div class="content-group level-2">
	<header class="content-title">
		<h1><b>GDI</b> Injector</h1>
		<small>Gasoline Direct Injection</small>
		<div class="btn-group">
			<a href="#none" class="bt-large reverse more">Feature</a>
			<a href="#none" class="bt-large reverse more">Installation</a>
		</div>
	</header>
	<div class="content">

    <div class="feature-box feature01">
      <div class="item-image">
  			<iframe width="500px" height="500px" src="http://www.fundinglab.ga.s3-website.ap-northeast-2.amazonaws.com" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="keyword">
        ‘16.01. 대한민국 엔지니어상 수상 (200bar)<br />
        ’19.04 과학기술정보통신부 장관 표창 수상 (350bar)<br />
        관련 핵심 특허 3건(해외) 외 다수
      </div>
      <div class="exp">
        GDI(Gasoline Direct Injection) 엔진용 인젝터는 ECU로부터 신호를 받아<br />
        고압의 연료를 정확한 양과 최적의 분무상태로 연소실에 직접 분사하는<br />
        솔레노이드 타입의 유량 제어 밸브임.
      </div>
      <div class="date">
        <p>양산 개시일 : 2015년 8월 (200바)</span>
        <p>양산 사양 : 200바/250바/350바</span>
      </div>
    </div>

		<div class="feature-box feature02">
			<h2 class="title">Installation<small>실린더 헤드부 사이드 마운팅</small></h2>
			<div class="cont">
				<img src="images/content02-1.png" alt="" />
			</div>
    </div>

		<div class="feature-box feature03">
      <h2 class="title">Feature<small>전기 커넥터 각도 및 형상 : 고객 사양 반영 가능</small></h2>
      <div class="cont">
				<img src="images/content02-2.png" alt="" />
      </div>
      <dl>
        <dt>Performance Characteristic</dt>
        <dd>
          - 단분사 S to S 산포(3σ) ≤ 3%<br />
          - 다단분사 S to S 산포(3σ) ≤ 3%<br />
          - 다단분사 P to P 산포(3σ) ≤ 6%<br />
          - 최대 작동압 475바
        </dd>
      </dl>
    </div>

		<div class="feature-box feature04">
			<h2 class="title">Comparison</h2>
			<div class="cont">
        <img src="images/content02-3.png" alt="" />
      </div>
    </div>

		<div class="feature-box feature05">
      <h2 class="title">Story of Issue : Interview</h2>
      <div class="person">
        <figure>
          <img src="images/interview-1.png" alt="" />
          <figcaption>연구원 <b>김철수</b></figcaption>
        </figure>
        <figure>
          <img src="images/interview-2.png" alt="" />
          <figcaption>연구원 <b>김철수</b></figcaption>
        </figure>
      </div>
      <h3>다단분사 성능 및 응답성 개선의 난제 해결</h3>
      <div class="cont">
        강화되는 배기가스 규제 만족을 위해서는 GDI 인젝터의 다단분사 적용이 필수적이다.<br />
        하지만, 다단분사를 위해서는 소유량 정밀도와 밸브 응답성능의 향상이요구되어지며,
        개발 과정 중에 많은 어려움이 있었다.<br />
        현대케피코는 고압 연료 하중(압력 저항)의 감소를 위해 자기회로 최적화 및
        볼 크기의  축소를 통해 하중을 약 30% 줄였으며, 이를 통해 다단분사 간
        휴지시간을 28% 단축할 수 있었다.
      </div>
      <div class="video-box">
        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/N_NN4bh75Bk" frameborder="0" allowfullscreen></iframe>
      </div>
		</div>
	</div>
</div>
