<%= render "shared/header.html.erb", title: "level 3"%>

<header class="header">
	<h1 class="logo"><a href="/level0.html"><img src="images/logo.png" alt="HYUNDAI KEFICO" /></a></h1>
	<nav class="level">
		<ul>
      <li><a href="level0">Lv 0</a></li>
      <li><a href="level1">Lv 1</a></li>
			<li><a href="level2">Lv 2</a></li>
			<li class="on"><a href="level3">Lv 3</a></li>
			<li><a href="level4">Lv 4</a></li>
			<li><a href="level5">Lv 5</a></li>
		</ul>
	</nav>
</header>
<div class="content-group level-3">
	<header class="content-title">
		<h1><b>GDI</b> System</h1>
		<small>Gasoline Direct Injection</small>
		<div class="btn-group">
			<a href="#none" class="bt-large reverse more">OVERVIEW</a>
			<a href="#none" class="bt-large reverse more">System benefits</a>
		</div>
    <div class="item-image"><img src="images/item-img4.png" alt="" /></div>
	</header>
	<div class="content">
    <h2 class="slogan">
      <b>More</b> power,<br />
      <b>More</b> efficiency,<br />
      <b>More</b> driving dynamics<br />
      <small>(Up to 350 bar)</small>
    </h2>

    <section class="packages">
      <h1 class="title">Hyundai <b>Kefico’s</b> Packages</h1>
      <!-- 통 이미지일 경우
      <figure><img src="images/package-img.png" alt="" /></figure>
      -->
				<a href="/html/level-4.html">
      <div class="package-list">
        <figure>
          <img src="images/packages-img1.png" alt="" />
          <figcaption>Control</figcaption>
        </figure>
        <figure>
          <img src="images/packages-img2.png" alt="" />
          <figcaption>FIE</figcaption>
        </figure>
        <figure>
          <img src="images/packages-img3.png" alt="" />
          <figcaption>Valve train</figcaption>
        </figure>
        <figure>
          <img src="images/packages-img4.png" alt="" />
          <figcaption>Air</figcaption>
        </figure>
        <figure>
          <img src="images/packages-img5.png" alt="" />
          <figcaption>Evaporation</figcaption>
        </figure>
        <figure>
          <img src="images/packages-img6.png" alt="" />
          <figcaption>Other</figcaption>
        </figure>
      </div>
							</a>
    </section>

    <section class="character">
      <h1 class="title">Characteristics</h2>
      <div class="char-1">
        <!-- 통이미지 사용시 dl 삭제 -->
        <div class="item-image"><img src="images/characteristics-img1.png" alt="" /></div>
        <dl>
          <dt>Emission</dt>
          <dd>Compatible up to Euro7</dd>
          <dt>Reliable quality</dt>
          <dd>Minimizing errors</dd>
          <dt>Performance</dt>
          <dd>Fast response & optimization</dd>
        </dl>
      </div>

      <div class="char-2">
        <figure><img src="images/item3-img1.png" alt="" /></figure>
        <div class="exp">
          2010년 150Bar GDI를 시작으로 현대케피코는 200Bar, 250Bar, 350Bar GDI
          시스템을 양산하였으며, 600Bar GDI 시스템을 개발 진행 중에 있다.<br />
          나날이 발전하는 배출가스 법규 및 연비 규제에 대응하기 위하여 Gasoline Direct
          Injection 기술은 여전히 파워트레인의 주요 기술로 평가 받고 있다.<br /><br />

          현대케피코 Gasoline Direct Injection 시스템은 연료 공급, 연료 분사, 공기
          유량 제어, 점화 제어를 비롯한 엔진 제어 및 배출 가스 후처리 기술이 포함된다.<br />
          또한 VCI(Valve ontrolled Injection) 기술을 포함한 인젝터 제어 기술을 통해
          현 세대 배출가스 규제를 넘어 국7/ Euro7/ Sulev30 등의 다가오는 규제 만족을
          위한 솔루션을 제공한다.
        </div>
      </div>

      <div class="char-3">
        <section class="char-box">
          <h3>규제 대응</h3>
          <div class="exp">
            GDI 기술은 터보차저 기술 및<br />
            Right-sizing 엔진 기술과<br />
            함께 최적 연비 및 배출가스<br />
            저감을 이룰 수 있다.
          </div>
        </section>
        <section class="char-box">
          <h3>성능 향상</h3>
          <div class="exp">
            빠른 응답 속도와 최적화 된<br />
            인젝터 분사 제어를 통해<br />
            엔진의 성능을 극대화 할 수 있다.
          </div>
        </section>
        <section class="char-box">
          <h3>다양한 압력 솔루션</h3>
          <div class="exp">
            엔진 및 마켓 등 고객의 요구에<br />
            맞추어 600Bar까지 다양한 시스템<br />
            압력 솔루션을 제공할 수 있다.
          </div>
        </section>
        <section class="char-box">
          <h3>Line-up</h3>
          <div class="exp">
            350bar : 양산 중(2019년~)<br />
            600bar : 검토 중(2020년~)
          </div>
        </section>
      </div>
    </section>

    <section class="skill">
      <h1 class="title">각 패키지 별 제어전략 기술</h1>
      <div class="skill-box">
        <h2>GDI 350bar</h2>
        <ul>
          <li>
            <figure>
              <img src="images/icon-tech1.png" alt="" />
              <figcaption>Electronic engine<br />control unit</figcaption>
            </figure>
            <a href="#none" class="bt-small more">more</a>
          </li>
          <li>
            <figure>
              <img src="images/icon-tech2.png" alt="" />
              <figcaption>Fuel injection<br />Equipment package</figcaption>
            </figure>
            <a href="#none" class="bt-small more">more</a>
          </li>
          <li>
            <figure>
              <img src="images/icon-tech3.png" alt="" />
              <figcaption>Valve train<br />package</figcaption>
            </figure>
            <a href="#none" class="bt-small more">more</a>
          </li>
          <li>
            <figure>
              <img src="images/icon-tech4.png" alt="" />
              <figcaption>Air package</figcaption>
            </figure>
            <a href="#none" class="bt-small more">more</a>
          </li>
          <li>
            <figure>
              <img src="images/icon-tech5.png" alt="" />
              <figcaption>Evaporation<br />package</figcaption>
            </figure>
            <a href="#none" class="bt-small more">more</a>
          </li>
          <li>
            <figure>
              <img src="images/icon-tech6.png" alt="" />
              <figcaption>???</figcaption>
            </figure>
            <a href="#none" class="bt-small more">more</a>
          </li>
        </ul>
      </div>

      <div class="skill-box">
        <h2>GDI 350bar</h2>
        <ul>
          <li>
            <figure>
              <img src="images/icon-tech1.png" alt="" />
              <figcaption>Electronic engine<br />control unit</figcaption>
            </figure>
            <a href="#none" class="bt-small more">more</a>
          </li>
          <li>
            <figure>
              <img src="images/icon-tech2.png" alt="" />
              <figcaption>Fuel injection<br />Equipment package</figcaption>
            </figure>
            <a href="#none" class="bt-small more">more</a>
          </li>
        </ul>
      </div>
    </section>
	</div>
</div>
