<%= render "shared/header.html.erb", title: "hyundai kepico"%>

<header class="header">
	<h1 class="logo"><a href="/level0.html"><img src="images/logo.png" alt="HYUNDAI KEFICO" /></a></h1>
	<nav class="level">
		<ul>
      <li class="on"><a href="level0">Lv 0</a></li>
			<li><a href="level1">Lv 1</a></li>
			<li><a href="level2">Lv 2</a></li>
			<li><a href="level3">Lv 3</a></li>
			<li><a href="level4">Lv 4</a></li>
			<li><a href="level5">Lv 5</a></li>
		</ul>
	</nav>
</header>
<div class="content-group level-0">
	<div class="content">
    <header class="content-title">
      <h1>Hyundai <b>KEFICO</b></h1>
      <!-- 디자인에서 현대 하모니 폰트 사용
        :: 해당 폰트 스타일 때문에 폰트 파일을 추가하는 건 효율이 떨어진다고 생각해서 최대한 비슷한 폰트로 구현
        :: 디자인과 동일하게 진행하고 싶으면 아래 이미지 텍스트 사용하시면 됩니다
      <h1><img src="images/title-hyundai-font.png" alt="Hyundai KEFICO" /></h1>
      -->
      <small>Always with you in mobility</small>
    </header>
    <div class="intro worth">
      <div class="inner">
        <dl class="worth-1">
          <dt>무한책임</dt>
          <dd>
            고객의 안전과 행복에 대한 무한 책임정신은 품질<br />
            경영으로 구현되며, 우리 사회를 위한<br />
            무한 가치 창조로 이어집니다.
          </dd>
        </dl>
        <dl class="worth-2">
          <dt>가능성 실현</dt>
          <dd>
            하나의 목표달성에 안주하지 않고 늘 새로운 목표를<br />
            향하여, 실패를 두려워하지 않는 도전정신으로<br />
            더 큰 미래를 창조합니다.
          </dd>
        </dl>
        <dl class="worth-3">
          <dt>인류애 구현</dt>
          <dd>
            인류를 위한 가치, 더 좋은 제품과 서비스를 더 많은<br />
            사람에게, 더 신속하게 제공하여 인류의 생활을<br />
            보다 풍요롭게 합니다.
          </dd>
        </dl>
      </div>
    </div>
    <div class="intro tech">
      <div class="inner">
        <section class="tech-box">
          <div class="dv"><span></span></div>
          <h2>ICE System Provider</h2>
          <figure><img src="images/level01.jpg" alt="" /></figure>
          <h3>Slow Follower</h3>
          <div class="exp">
            엔진/변속기 제어시스템 국산화 개발 성공<br />
            HMG 엔진/변속기 제어시스템 핵심 파트너
          </div>
        </section>
        <section class="tech-box">
          <div class="dv"><span></span></div>
          <h2>xEV Mobility Solution Partner</h2>
          <figure><img src="images/level02.jpg" alt="" /></figure>
          <h3>'23 Fast Follower</h3>
          <div class="exp">
            글로벌 수준의 원가/성능 경쟁우위 확보<br />
            글로벌 고객 시스템/패키지 단위 솔루션 제공
          </div>
        </section>
        <section class="tech-box">
          <div class="dv"><span></span></div>
          <h2>Beyond Mobility</h2>
          <figure><img src="images/level03.jpg" alt="" /></figure>
          <h3>'30 First Mover</h3>
          <div class="exp">
            글로벌 Top Tier 솔루션 경쟁우위 확보<br />
            Next Mobility 선도 업체
          </div>
        </section>
      </div>
    </div>
	</div>
</div>
