// Place all the styles related to the level4 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.package01, .package02{
  .cont{
    display:flex;
    justify-content: center;
  }
}

.package-box.package03{
  .item-image{
    margin-bottom: 30px;
  }
}

.dropdown-item{
  font-size: 15px;
}

.package01 .item-image{
  max-width: 100%;
  height: 100%;
}

.package03 {
  padding-bottom: 30px;
}
