<a href="#none" class="bt-nav">MENU<span class="icon"><i>아이콘</i></span></a>
<section class="navi show">
  <h1 class="logo"><img src="../statics/images/logo.png" alt="HYUNDAI KEFICO" /></h1>
  <div class="nav-header">
    <h2>MCU</h2>
    <ol class="location">
      <li><span>완성차</span></li>
      <li><span>FCEV</span></li>
      <li><span>Battery&amp;Motor P</span></li>
      <li class="now"><span>MCU</span></li>
    </ol>
  </div>
  <ul class="nav-1st">
    <li class="active"><span>완성차</span></li>
    <li><span>전동2륜차</span></li>
    <li><span>기타(개발 기술)</span></li>
  </ul>
  <div class="nav-wrapper">
    <!-- 완성차 -->
    <section class="nav-content show">
      <h1 class="blind">완성차</h1>
      <div class="nav-2nd">
        <h2><span>내연기관</span></h2>
        <ul>
          <li class="active"><span data-src="#menu1-1-1">GDI</span></li>
          <li><span data-src="#menu1-1-2">MPI</span></li>
          <li><span data-src="#menu1-1-3">GDI+MPI</span></li>
        </ul>
        <h2><span>자동변속기</span></h2>
        <ul>
          <li><span data-src="#menu1-2-1">다단 AT</span></li>
          <li><span data-src="#menu1-2-2">DCT</span></li>
        </ul>
        <h2><span>친환경</span></h2>
        <ul>
          <li><span data-src="#menu1-3-1">xEV</span></li>
          <li><span data-src="#menu1-3-2">FCEV</span></li>
        </ul>
      </div>
      <div class="nav-3rd">
        <p class="go-menu"><span><b>내연기관</b> 바로가기</span></p>
        <div class="nav-box show" id="menu1-1-1">
          <h3 class="blind">GDI</h3>
          <section class="menu">
            <header>
              <h3><span>ECU - total Cali</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>ECU(제어기)</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>FIE P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>GDI injector</span></li>
                <li><span>GDI rail</span></li>
                <li><span>GDI pump</span></li>
                <li><span>HPS</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>V/T P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>CMP</span></li>
                <li><span>CKP</span></li>
                <li><span>CVVD</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>Air P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>ETC</span></li>
                <li><span>MAP/BPS</span></li>
                <li><span>AFMS</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>EVAP. P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>PCSV</span></li>
                <li><span>APP</span></li>
                <li><span>Dpe</span></li>
                <li><span>FTPS</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>EX. P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>LP EGR</span></li>
                <li><span>DPS</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>Others</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>V/sensor</span></li>
                <li><span>OPS</span></li>
              </ul>
            </div>
          </section>
        </div>
        <div class="nav-box" id="menu1-1-2">
          <h3 class="blind">MPI</h3>
          <section class="menu">
            <header>
              <h3><span>ECU - total Cali</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>ECU(제어기)</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>FIE P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>MPI injector</span></li>
                <li><span>MPI rail</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>V/T P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>CMP</span></li>
                <li><span>CKP</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>Air P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>ETC</span></li>
                <li><span>MAP</span></li>
                <li><span>AFMS</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>EVAP. P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>PCSV</span></li>
                <li><span>FTPS</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>Others</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>V/sensor</span></li>
                <li><span>OPS</span></li>
              </ul>
            </div>
          </section>
        </div>
        <div class="nav-box" id="menu1-1-3">
          <h3 class="blind">GDI+MPI</h3>
          <section class="menu">
            <header>
              <h3><span>ECU - total Cali</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>ECU(제어기)</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>FIE P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>G injector</span></li>
                <li><span>G rail</span></li>
                <li><span>G pump</span></li>
                <li><span>HPS</span></li>
                <li><span>MPI injector</span></li>
                <li><span>MPI rail</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>V/T P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>CMP</span></li>
                <li><span>CKP</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>Air P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>ETC</span></li>
                <li><span>MAP</span></li>
                <li><span>AFMS</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>EVAP. P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>PCSV</span></li>
                <li><span>FTPS</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>Others</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>V/sensor</span></li>
                <li><span>OPS</span></li>
              </ul>
            </div>
          </section>
        </div>

        <div class="nav-box" id="menu1-2-1">
          <h3 class="blind">다단 AT</h3>
          <section class="menu">
            <header>
              <h3><span>Auto transmission P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>TCU - total Cali</span></li>
                <li><span>Speed sensor</span></li>
                <li><span>TRS</span></li>
                <li><span>SBW Actuator</span></li>
              </ul>
            </div>
          </section>
        </div>
        <div class="nav-box" id="menu1-2-2">
          <h3 class="blind">DCT</h3>
          <section class="menu">
            <header>
              <h3><span>Transfer Case P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>Range sensor</span></li>
              </ul>
            </div>
          </section>
        </div>

        <div class="nav-box" id="menu1-3-1">
          <h3 class="blind">xEV</h3>
          <section class="menu">
            <header>
              <h3><span>EV P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>VCU</span></li>
                <li><span>EPCU</span></li>
                <li><span>BMS</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>HEV P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>HCU</span></li>
                <li><span>HPCU</span></li>
                <li><span>BMS</span></li>
              </ul>
            </div>
          </section>
        </div>
        <div class="nav-box" id="menu1-3-2">
          <h3 class="blind">FCEV</h3>
          <section class="menu">
            <header>
              <h3><span>BOP P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>ACV</span></li>
                <li><span>APC</span></li>
                <li><span>SVM</span></li>
                <li><span>BPCU(FCU)</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>Battery &amp; Motor P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>BMS</span></li>
                <li><span>MCU</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>FPS P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>FSV, FBV</span></li>
                <li><span>수소가스센서</span></li>
                <li><span>수소압력센서</span></li>
                <li><span>HMU</span></li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </section>

    <!-- 전동2륜차-->
    <section class="nav-content">
      <h1 class="blind">전동2륜차</h1>
      <div class="nav-2nd">
        <h2><span>EV</span></h2>
        <ul>
          <li><span data-src="#menu2-1-1">수냉식 모터 제어</span></li>
        </ul>
      </div>
      <div class="nav-3rd">
        <p class="go-menu"><span><b>EV</b> 바로가기</span></p>
        <div class="nav-box" id="menu2-1-1">
          <h3 class="blind">수냉식 모터 제어</h3>
          <section class="menu">
            <header>
              <h3><span>MCU/VCU - total Cali</span></h3>
              <button class="more">More</button>
            </header>
          </section>
          <section class="menu">
            <header>
              <h3><span>파워트레인</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>Motor</span></li>
                <li><span>MCU</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>차량제어</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>DCDC converter</span></li>
                <li><span>VCU</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>수냉 냉각 모듈</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>Cooiling module</span></li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </section>

    <!-- 기타(개발 기술)-->
    <section class="nav-content">
      <h1 class="blind">기타(개발 기술)</h1>
      <div class="nav-2nd">
        <h2><span>미래기술</span></h2>
        <ul>
          <li><span data-src="#menu3-1-1">AI제어기술</span></li>
        </ul>
        <h2><span>내연기관 신기술</span></h2>
        <ul>
          <li><span data-src="#menu3-2-1">600바 GDI 시스템</span></li>
          <li><span data-src="#menu3-2-2">인터쿨러일체형AFMS</span></li>
        </ul>
      </div>
      <div class="nav-3rd">
        <p class="go-menu"><span><b>미래기술</b> 바로가기</span></p>
        <div class="nav-box" id="menu3-1-1">
          <h3 class="blind">미래기술</h3>
          <section class="menu">
            <header>
              <h3><span>AI제어기술</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>AI 기반 인젝터 제어로직 -컨셉 상세</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>AI 기반 인젝터 제어 로직</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>AI 기반 인젝터 제어로직 -컨셉 상세</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>AI 기반 소방 로봇 시스템</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>AI 기반 소방로봇 시스템 -컨셉 상세</span></li>
                <li><span>VCU</span></li>
              </ul>
            </div>
          </section>
        </div>

        <div class="nav-box" id="menu3-2-1">
          <h3 class="blind">내연기관 신기술</h3>
          <section class="menu">
            <header>
              <h3><span>600바 GDI 시스템</span></h3>
              <button class="more">More</button>
            </header>
          </section>
          <section class="menu">
            <header>
              <h3><span>ECU - total Cali</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>ECU(제어기)</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>FIE P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>injector</span></li>
                <li><span>rail</span></li>
                <li><span>pump</span></li>
                <li><span>HPS</span></li>
              </ul>
            </div>
          </section>
        </div>
        <div class="nav-box" id="menu3-2-2">
          <h3 class="blind">내연기관 신기술</h3>
          <section class="menu">
            <header>
              <h3><span>600바 GDI 시스템</span></h3>
              <button class="more">More</button>
            </header>
          </section>
          <section class="menu">
            <header>
              <h3><span>ECU - total Cali</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>ECU(제어기)</span></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><span>FIE P</span></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><span>injector</span></li>
                <li><span>rail</span></li>
                <li><span>pump</span></li>
                <li><span>HPS</span></li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>

  <span class="bt-close">닫기</span>
</section>

<script>
$(function(){
  var $navi = $('.navi');
  var level1 = $('.nav-1st');
  var level1Cont = $('.nav-content');
  var level3 = $('.nav-2nd > ul > li span');
  //navi open
  $('.bt-nav').click(function(){
    $navi.addClass('show');
  });
  //navi close
  $('.bt-close').click(function(){
    
  });

  level1.find('li').each(function(){
    var $this = $(this);
    $this.click(function(){
      var index = $(this).index();
      level1.find('li').removeClass('active');
      $(this).addClass('active');
      level1Cont.removeClass('show');
      level1Cont.eq(index).addClass('show');
      level1Cont.eq(index).find('.nav-box').removeClass('show');
      level1Cont.eq(index).find('.nav-box').eq(0).addClass('show');
    });
  });

  level3.click(function(){
    var name = $(this).attr('data-src');
    var location = $(this).parents('ul').prev('h2').find('span').text();
    if ($(name).parents('.nav-content').hasClass('show')){
      $(name).parents('.nav-content').find('.nav-box').removeClass('show');
      $(name).addClass('show');
      $(name).parents('.nav-content').find('.go-menu span > b').html(location);

      $(this).parents('.nav-2nd').find('li').removeClass('active');
      $(this).parent('li').addClass('active');
    }
  });

  $('.menu').each(function(){
    var more = $(this).find('.more');
    if (!$(this).find('.submenu').length){
      $(this).find('.more').hide();
    }
    more.click(function(){
      $(this).parents('.nav-box').find('.menu').removeClass('show');
      $(this).parents('.menu').addClass('show');
    });
  });
});
</script>
