<section class="navi">
  <h1 class="logo"><img src="https://s3.ap-northeast-2.amazonaws.com/www.fundinglab.ga/logo.png" alt="HYUNDAI KEFICO" /></h1>
  <div class="nav-header">
    <h2>MCU</h2>
    <ol class="location">
      <li><a href="#none">완성차</a></li>
      <li><a href="#none">FCEV</a></li>
      <li><a href="#none">Battery&amp;Motor P</a></li>
      <li class="now"><a href="#none">MCU</a></li>
    </ol>
  </div>
  <ul class="nav-1st">
    <li class="active"><a href="#none">완성차</a></li>
    <li><a href="#none">전동2륜차</a></li>
    <li><a href="#none">기타(개발 기술)</a></li>
  </ul>
  <div class="nav-wrapper">
    <!-- 완성차 -->
    <section class="nav-content show">
      <h1 class="blind">완성차</h1>
      <div class="nav-2nd">
        <h2><a href="#none">내연기관</a></h2>
        <ul>
          <li class="active"><a href="#menu1-1-1">GDI</a></li>
          <li><a href="#menu1-1-2">MPI</a></li>
          <li><a href="#menu1-1-3">GDI+MPI</a></li>
        </ul>
        <h2><a href="#none">자동변속기</a></h2>
        <ul>
          <li><a href="#menu1-2-1">다단 AT</a></li>
          <li><a href="#menu1-2-2">DCT</a></li>
        </ul>
        <h2><a href="#none">친환경</a></h2>
        <ul>
          <li><a href="#menu1-3-1">xEV</a></li>
          <li><a href="#menu1-3-2">FCEV</a></li>
        </ul>
      </div>
      <div class="nav-3rd">
        <p class="go-menu"><a href="#none"><b>내연기관</b> 바로가기</a></p>
        <div class="nav-box show" id="menu1-1-1">
          <h3 class="blind">GDI</h3>
          <section class="menu">
            <header>
              <h3><a href="#none">ECU - total Cali</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">ECU(제어기)</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">FIE P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">GDI injector</a></li>
                <li><a href="#none">GDI rail</a></li>
                <li><a href="#none">GDI pump</a></li>
                <li><a href="#none">HPS</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">V/T P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">CMP</a></li>
                <li><a href="#none">CKP</a></li>
                <li><a href="#none">CVVD</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">Air P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">ETC</a></li>
                <li><a href="#none">MAP/BPS</a></li>
                <li><a href="#none">AFMS</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">EVAP. P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">PCSV</a></li>
                <li><a href="#none">APP</a></li>
                <li><a href="#none">Dpe</a></li>
                <li><a href="#none">FTPS</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">EX. P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">LP EGR</a></li>
                <li><a href="#none">DPS</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">Others</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">V/sensor</a></li>
                <li><a href="#none">OPS</a></li>
              </ul>
            </div>
          </section>
        </div>
        <div class="nav-box" id="menu1-1-2">
          <h3 class="blind">MPI</h3>
          <section class="menu">
            <header>
              <h3><a href="#none">ECU - total Cali</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">ECU(제어기)</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">FIE P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">MPI injector</a></li>
                <li><a href="#none">MPI rail</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">V/T P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">CMP</a></li>
                <li><a href="#none">CKP</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">Air P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">ETC</a></li>
                <li><a href="#none">MAP</a></li>
                <li><a href="#none">AFMS</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">EVAP. P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">PCSV</a></li>
                <li><a href="#none">FTPS</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">Others</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">V/sensor</a></li>
                <li><a href="#none">OPS</a></li>
              </ul>
            </div>
          </section>
        </div>
        <div class="nav-box" id="menu1-1-3">
          <h3 class="blind">GDI+MPI</h3>
          <section class="menu">
            <header>
              <h3><a href="#none">ECU - total Cali</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">ECU(제어기)</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">FIE P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">G injector</a></li>
                <li><a href="#none">G rail</a></li>
                <li><a href="#none">G pump</a></li>
                <li><a href="#none">HPS</a></li>
                <li><a href="#none">MPI injector</a></li>
                <li><a href="#none">MPI rail</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">V/T P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">CMP</a></li>
                <li><a href="#none">CKP</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">Air P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">ETC</a></li>
                <li><a href="#none">MAP</a></li>
                <li><a href="#none">AFMS</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">EVAP. P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">PCSV</a></li>
                <li><a href="#none">FTPS</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">Others</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">V/sensor</a></li>
                <li><a href="#none">OPS</a></li>
              </ul>
            </div>
          </section>
        </div>

        <div class="nav-box" id="menu1-2-1">
          <h3 class="blind">다단 AT</h3>
          <section class="menu">
            <header>
              <h3><a href="#none">Auto transmission P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">TCU - total Cali</a></li>
                <li><a href="#none">Speed sensor</a></li>
                <li><a href="#none">TRS</a></li>
                <li><a href="#none">SBW Actuator</a></li>
              </ul>
            </div>
          </section>
        </div>
        <div class="nav-box" id="menu1-2-2">
          <h3 class="blind">DCT</h3>
          <section class="menu">
            <header>
              <h3><a href="#none">Transfer Case P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">Range sensor</a></li>
              </ul>
            </div>
          </section>
        </div>

        <div class="nav-box" id="menu1-3-1">
          <h3 class="blind">xEV</h3>
          <section class="menu">
            <header>
              <h3><a href="#none">EV P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">VCU</a></li>
                <li><a href="#none">EPCU</a></li>
                <li><a href="#none">BMS</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">HEV P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">HCU</a></li>
                <li><a href="#none">HPCU</a></li>
                <li><a href="#none">BMS</a></li>
              </ul>
            </div>
          </section>
        </div>
        <div class="nav-box" id="menu1-3-2">
          <h3 class="blind">FCEV</h3>
          <section class="menu">
            <header>
              <h3><a href="#none">BOP P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">ACV</a></li>
                <li><a href="#none">APC</a></li>
                <li><a href="#none">SVM</a></li>
                <li><a href="#none">BPCU(FCU)</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">Battery &amp; Motor P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">BMS</a></li>
                <li><a href="#none">MCU</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">FPS P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">FSV, FBV</a></li>
                <li><a href="#none">수소가스센서</a></li>
                <li><a href="#none">수소압력센서</a></li>
                <li><a href="#none">HMU</a></li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </section>

    <!-- 전동2륜차-->
    <section class="nav-content">
      <h1 class="blind">전동2륜차</h1>
      <div class="nav-2nd">
        <h2><a href="#none">EV</a></h2>
        <ul>
          <li><a href="#menu2-1-1">수냉식 모터 제어</a></li>
        </ul>
      </div>
      <div class="nav-3rd">
        <p class="go-menu"><a href="#none"><b>EV</b> 바로가기</a></p>
        <div class="nav-box" id="menu2-1-1">
          <h3 class="blind">수냉식 모터 제어</h3>
          <section class="menu">
            <header>
              <h3><a href="#none">MCU/VCU - total Cali</a></h3>
              <button class="more">More</button>
            </header>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">파워트레인</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">Motor</a></li>
                <li><a href="#none">MCU</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">차량제어</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">DCDC converter</a></li>
                <li><a href="#none">VCU</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">수냉 냉각 모듈</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">Cooiling module</a></li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </section>

    <!-- 기타(개발 기술)-->
    <section class="nav-content">
      <h1 class="blind">기타(개발 기술)</h1>
      <div class="nav-2nd">
        <h2><a href="#none">미래기술</a></h2>
        <ul>
          <li><a href="#menu3-1-1">AI제어기술</a></li>
        </ul>
        <h2><a href="#none">내연기관 신기술</a></h2>
        <ul>
          <li><a href="#menu3-2-1">600바 GDI 시스템</a></li>
          <li><a href="#menu3-2-2">인터쿨러일체형AFMS</a></li>
        </ul>
      </div>
      <div class="nav-3rd">
        <p class="go-menu"><a href="#none"><b>미래기술</b> 바로가기</a></p>
        <div class="nav-box" id="menu3-1-1">
          <h3 class="blind">미래기술</h3>
          <section class="menu">
            <header>
              <h3><a href="#none">AI제어기술</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">AI 기반 인젝터 제어로직 -컨셉 상세</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">AI 기반 인젝터 제어 로직</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">AI 기반 인젝터 제어로직 -컨셉 상세</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">AI 기반 소방 로봇 시스템</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">AI 기반 소방로봇 시스템 -컨셉 상세</a></li>
                <li><a href="#none">VCU</a></li>
              </ul>
            </div>
          </section>
        </div>

        <div class="nav-box" id="menu3-2-1">
          <h3 class="blind">내연기관 신기술</h3>
          <section class="menu">
            <header>
              <h3><a href="#none">600바 GDI 시스템</a></h3>
              <button class="more">More</button>
            </header>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">ECU - total Cali</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">ECU(제어기)</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">FIE P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">injector</a></li>
                <li><a href="#none">rail</a></li>
                <li><a href="#none">pump</a></li>
                <li><a href="#none">HPS</a></li>
              </ul>
            </div>
          </section>
        </div>
        <div class="nav-box" id="menu3-2-2">
          <h3 class="blind">내연기관 신기술</h3>
          <section class="menu">
            <header>
              <h3><a href="#none">600바 GDI 시스템</a></h3>
              <button class="more">More</button>
            </header>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">ECU - total Cali</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">ECU(제어기)</a></li>
              </ul>
            </div>
          </section>
          <section class="menu">
            <header>
              <h3><a href="#none">FIE P</a></h3>
              <button class="more">More</button>
            </header>
            <div class="submenu">
              <ul>
                <li><a href="#none">injector</a></li>
                <li><a href="#none">rail</a></li>
                <li><a href="#none">pump</a></li>
                <li><a href="#none">HPS</a></li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>

  <a href="#none" class="bt-close">닫기</a>
</section>
</div>

<script>
  $(function(){
    var $navi = $('.navi');
      $navi.addClass('show');
    var level1 = $('.nav-1st');
    var level1Cont = $('.nav-content');
    var level3 = $('.nav-2nd > ul > li a');
    //navi open
    //navi close
    $('.bt-close').click(function(){

    });

    level1.find('li').each(function(){
      var $this = $(this);
      $this.click(function(){
        console.log("level1")
        var index = $(this).index();
        level1.find('li').removeClass('active');
        $(this).addClass('active');
        level1Cont.removeClass('show');
        level1Cont.eq(index).addClass('show');
        level1Cont.eq(index).find('.nav-box').removeClass('show');
        level1Cont.eq(index).find('.nav-box').eq(0).addClass('show');
      });
    });

    level3.click(function(){
      var name = $(this).attr('href');
      var location = $(this).parents('ul').prev('h2').find('a').text();
      if ($(name).parents('.nav-content').hasClass('show')){
        $(name).parents('.nav-content').find('.nav-box').removeClass('show');
        $(name).addClass('show');
        $(name).parents('.nav-content').find('.go-menu a > b').html(location);

        $(this).parents('.nav-2nd').find('li').removeClass('active');
        $(this).parent('li').addClass('active');
      }
    });

    $('.menu').each(function(){
      var more = $(this).find('.more');
      if (!$(this).find('.submenu').length){
        $(this).find('.more').hide();
      }
      more.click(function(){
        $(this).parents('.nav-box').find('.menu').removeClass('show');
        $(this).parents('.menu').addClass('show');
      });
    });
  });
</script>
